<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shubham.themoviedb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.GridActivity" />
        <activity
            android:name=".Activities.Details"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.Details" />
        <activity android:name=".Activities.SearchResult" />
        <activity
            android:name=".Activities.Favourite"
            android:label="@string/title_activity_favourite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.CastDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar.Details"></activity>
    </application>

</manifest>